.chat
  = render "chat__left"
  = render "chat__right"
    .chat__right_footer
      = form_for [@group, @message] do |f|
        = f.text_field :text, class: 'chat__right_footer_input', placeholder: 'type a message'
        .chat__right_footer_img
          = f.label :image do
            = fa_icon 'picture-o', class: 'chat__right_footer_icon'
            = f.file_field :image, style: "display:none;"
        = f.submit 'Send', class: 'chat__right_footer_button'
